@import "./colors.scss";
@import "./typography.scss";
@import "./normalize.css";
@import "./breakpoints.scss";
@import "./animations.css";

.hero {
    width:100%;
    background-color:$second-color;

    padding:2vw 0 2vw 0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    min-height:60vh;

    background-image:url('/images/hero.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: fadeIn .5s;
    transition: opacity 300ms ease-in;

    .hero__logo {
        margin-top:5vh;
        width:10vw;

        @include large-desktop {
            width: 12vw;
        }

        @include small-desktop {
            width: 20vw;
        }

        @include large-phone {
            width: 30vw;
        }

        @include small-phone {
            width: 50vw;
        }
    }

    .hero__text_title{
        font-size:6vw;
        font-weight:100;
        color:$first-color;
        text-align:center;

        @include small-desktop {
            font-size:4rem;
        }
    }
    
}

.white_background {
    opacity:0;
    transition: opacity 400ms ease-in;
}

.first {
    padding:2vw 0 2vw 0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color:$fourth-color;

    @include small-desktop {
        padding:10vw 0 10vw 0;
    }
    
    .first__text{
        width:50vw;
        padding:2vw 0 2vw 0;

        @include large-desktop {
            width: 70vw;
        }

        @include small-desktop {
            width: 80vw;
        }
        
        
        .first__text_title {
            width:80%;
            margin:0 auto;
            text-align:center;

            @include small-desktop {
                width: 90%;
            }

            @include large-phone {
                font-size:2.5rem;
                font-weight:300;
            }

            @include small-phone {
                width: 100%;
                font-size:2rem;
                font-weight:300;
            }
        }
        
        .first__text_subtitle {
            width:80%;
            margin:0 auto;
            text-align:center;

            @include small-desktop {
                margin-top:6vw;
                width: 90%;
            }

            @include large-phone {
                font-weight:300;
            }

            @include small-phone {
                margin-top:20vw;
                font-size:1.6rem;
                width: 100%;
            
            }
        }

        .first__text_paragraph {
            text-align: justify;
        }

        .first__text_image {
            width:60vw;
            margin:2vw 0 2vw -5vw;

            @include large-desktop {
                width: 80vw;
            }

            @include small-desktop {
                width: 90vw;
            }
        }

    }
    
}


footer {
    background:$second-color;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding:5vw;

    @include large-phone {
        padding:10vw;
    }


    .footer__logo {
        filter: brightness(1.4);
        width:10vw;

        @include large-desktop {
            width: 12vw;
        }

        @include small-desktop {
            width: 20vw;
        }

        @include large-phone {
            width: 30vw;
        }

        @include small-phone {
            width: 50vw;
        }
    }
    
    .footer__text {
        color:$first-color;
        width:30vw;
        text-align:center;
        font-weight:100;
        margin-top:50px;

        @include small-desktop {
            width: 50vw;
            font-weight:300;
        }

    }

    .footer__social {
        margin-top:5vw;
        
        a {
            text-decoration: none;
            padding:10px;

        }

    }

    
} 
